In [3]:
#Chargement des données

import pandas as pd

df = pd.read_excel(r"C:\Users\ccraq\OneDrive\Documents\PYTHON\projet_python\dataset.xlsx")

data= pd.DataFrame(df, columns=['id', 'imdb_id', 'popularity','budget','revenue','original_title','cast','homepage','director','tagline','keywords','overview','runtime','genres','production','release_date','vote_count','vote_average','release_year','budget_adj','revenue_adj'])

In [4]:
#On enlève les colonnes que l'on ne souhaite pas exploiter

data = data.drop(columns=['imdb_id','popularity','homepage','release_date','budget_adj','revenue_adj'])
data

,id,budget,revenue,original_title,cast,director,tagline,keywords,overview,runtime,genres,production,vote_count,vote_average,release_year
0,135397,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,NaN,5562,6.5,2015.0
1,76341,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,NaN,6185,7.1,2015.0
2,262500,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,NaN,2480,6.3,2015.0
3,140607,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,NaN,5292,7.5,2015.0
4,168259,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,NaN,2947,7.3,2015.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10874,21,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,Bruce Brown,NaN,surfer|surfboard|surfing,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,NaN,11,7.4,1966.0
10875,20379,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,car race|racing|formula 1,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,NaN,20,5.7,1966.0
10876,39768,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,Eldar Ryazanov,NaN,car|trolley|stealing car,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,NaN,11,6.5,1966.0
10877,21449,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,Woody Allen,WOODY ALLEN STRIKES BACK!,spoof,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,NaN,22,5.4,1966.0
10878,22293,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,fire|gun|drive|sacrifice|flashlight,A family gets lost on the road and stumbles up...,74,Horror,NaN,15,1.5,1966.0

In [224]:
#Enlever les films en doublon 
data["original_title"].drop_duplicates

<bound method Series.drop_duplicates of 0                      Jurassic World
1                  Mad Max: Fury Road
2                           Insurgent
3        Star Wars: The Force Awakens
4                           Furious 7
                     ...
10874              The Endless Summer
10875                      Grand Prix
10876             Beregis Avtomobilya
10877          What's Up, Tiger Lily?
10878        Manos: The Hands of Fate
Name: original_title, Length: 10879, dtype: object>

In [5]:
#On créée un dataframe qui sera utilisé pour les content based recommendations

movies_data=data.loc[:,["original_title","cast","genres","tagline","keywords","overview"]]

movies_data.head()
movies_data.shape

(10879, 6)

In [6]:
#On regarde combien il y a de valeurs nulles

movies_data.isna().sum()

original_title       4
cast                82
genres             393
tagline           2828
keywords          1505
overview            19
dtype: int64

In [8]:
#On enlèves les valeurs nulles

movies_data.dropna(inplace=True)

In [9]:
#On vérifie bien qu'il n'y en a plus
movies_data.isna().sum()

original_title    0
cast              0
genres            0
tagline           0
keywords          0
overview          0
dtype: int64

In [10]:
#Si on regarde au dessus, les colonnes sont devenues des integer ce qui est problématique donc on les transforme en strings

movies_data= movies_data.astype(str)

movies_data.head()

,original_title,cast,genres,tagline,keywords,overview
0,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Action|Adventure|Science Fiction|Thriller,The park is open.,monster|dna|tyrannosaurus rex|velociraptor|island,Twenty-two years after the events of Jurassic ...
1,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,Action|Adventure|Science Fiction|Thriller,What a Lovely Day.,future|chase|post-apocalyptic|dystopia|australia,An apocalyptic story set in the furthest reach...
2,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Adventure|Science Fiction|Thriller,One Choice Can Destroy You,based on novel|revolution|dystopia|sequel|dyst...,Beatrice Prior must confront her inner demons ...
3,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,Action|Adventure|Science Fiction|Fantasy,Every generation has a story.,android|spaceship|jedi|space opera|3d,Thirty years after defeating the Galactic Empi...
4,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,Action|Crime|Thriller,Vengeance Hits Home,car race|speed|revenge|suspense|car,Deckard Shaw seeks revenge against Dominic Tor...

In [11]:
#On remplace les "|" par des espaces poyur les colonnes concernées

movies_data["cast"] = movies_data["cast"].apply(lambda x: x.replace("|"," "))
movies_data["genres"] = movies_data["genres"].apply(lambda x: x.replace("|"," "))
movies_data["keywords"] = movies_data["keywords"].apply(lambda x: x.replace("|"," "))
movies_data["genres"] = movies_data["genres"].apply(lambda x: x.replace("|"," "))

movies_data.head()

,original_title,cast,genres,tagline,keywords,overview
0,Jurassic World,Chris Pratt Bryce Dallas Howard Irrfan Khan Vi...,Action Adventure Science Fiction Thriller,The park is open.,monster dna tyrannosaurus rex velociraptor island,Twenty-two years after the events of Jurassic ...
1,Mad Max: Fury Road,Tom Hardy Charlize Theron Hugh Keays-Byrne Nic...,Action Adventure Science Fiction Thriller,What a Lovely Day.,future chase post-apocalyptic dystopia australia,An apocalyptic story set in the furthest reach...
2,Insurgent,Shailene Woodley Theo James Kate Winslet Ansel...,Adventure Science Fiction Thriller,One Choice Can Destroy You,based on novel revolution dystopia sequel dyst...,Beatrice Prior must confront her inner demons ...
3,Star Wars: The Force Awakens,Harrison Ford Mark Hamill Carrie Fisher Adam D...,Action Adventure Science Fiction Fantasy,Every generation has a story.,android spaceship jedi space opera 3d,Thirty years after defeating the Galactic Empi...
4,Furious 7,Vin Diesel Paul Walker Jason Statham Michelle ...,Action Crime Thriller,Vengeance Hits Home,car race speed revenge suspense car,Deckard Shaw seeks revenge against Dominic Tor...

In [12]:
#Ici on combine les acteurs+genres pour pouvoir regrouper les films qui se ressemblent entre eux, en plus j'ai aussi joint les descriptifs pour comparer les mots utilisés

movies_data["combined"]=movies_data["genres"] + " " + movies_data["cast"]
movies_data.head()

movies_data["combined2"]=movies_data["tagline"] + " " + movies_data["keywords"] + " " + movies_data["overview"]
movies_data.head()

,original_title,cast,genres,tagline,keywords,overview,combined,combined2
0,Jurassic World,Chris Pratt Bryce Dallas Howard Irrfan Khan Vi...,Action Adventure Science Fiction Thriller,The park is open.,monster dna tyrannosaurus rex velociraptor island,Twenty-two years after the events of Jurassic ...,Action Adventure Science Fiction Thriller Chri...,The park is open. monster dna tyrannosaurus re...
1,Mad Max: Fury Road,Tom Hardy Charlize Theron Hugh Keays-Byrne Nic...,Action Adventure Science Fiction Thriller,What a Lovely Day.,future chase post-apocalyptic dystopia australia,An apocalyptic story set in the furthest reach...,Action Adventure Science Fiction Thriller Tom ...,What a Lovely Day. future chase post-apocalypt...
2,Insurgent,Shailene Woodley Theo James Kate Winslet Ansel...,Adventure Science Fiction Thriller,One Choice Can Destroy You,based on novel revolution dystopia sequel dyst...,Beatrice Prior must confront her inner demons ...,Adventure Science Fiction Thriller Shailene Wo...,One Choice Can Destroy You based on novel revo...
3,Star Wars: The Force Awakens,Harrison Ford Mark Hamill Carrie Fisher Adam D...,Action Adventure Science Fiction Fantasy,Every generation has a story.,android spaceship jedi space opera 3d,Thirty years after defeating the Galactic Empi...,Action Adventure Science Fiction Fantasy Harri...,Every generation has a story. android spaceshi...
4,Furious 7,Vin Diesel Paul Walker Jason Statham Michelle ...,Action Crime Thriller,Vengeance Hits Home,car race speed revenge suspense car,Deckard Shaw seeks revenge against Dominic Tor...,Action Crime Thriller Vin Diesel Paul Walker J...,Vengeance Hits Home car race speed revenge sus...

In [13]:
#On change le nom du titre pour plus de clareté et on les mets en minuscules

movies_data.rename(columns={"original_title":"title"},inplace=True)
movies_data.head()


movies_data["title"] = movies_data["title"].str.lower()
movies_data.head()

movies_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7096 entries, 0 to 10878
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      7096 non-null   object
 1   cast       7096 non-null   object
 2   genres     7096 non-null   object
 3   tagline    7096 non-null   object
 4   keywords   7096 non-null   object
 5   overview   7096 non-null   object
 6   combined   7096 non-null   object
 7   combined2  7096 non-null   object
dtypes: object(8)
memory usage: 498.9+ KB

In [14]:
#On est obligés de faire ça pour éviter les beugs dus au fait d'avoir enlever les valeurs NaN

movies_data.reset_index(drop=True,inplace=True)

In [15]:

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [250]:
cv = CountVectorizer()
count_vectorizer_matrix = cv.fit_transform(movies_data["combined"])
count_vectorizer_matrix

<7096x11014 sparse matrix of type '<class 'numpy.int64'>'
	with 91319 stored elements in Compressed Sparse Row format>

In [247]:
cv.get_feature_names()

['50',
 '95',
 'aalderks',
 'aaliyah',
 'aames',
 'aamir',
 'aanjjan',
 'aaran',
 'aaron',
 'aarti',
 'aasha',
 'aasif',
 'abbass',
 'abbey',
 'abbie',
 'abbott',
 'abdalla',
 'abdi',
 'abdoo',
 'abdul',
 'abe',
 'abebrese',
 'abel',
 'abell',
 'abercrombie',
 'abercromby',
 'abhishek',
 'abi',
 'abigail',
 'abiteboul',
 'abke',
 'able',
 'abo',
 'abraham',
 'abrahams',
 'abrams',
 'abreu',
 'absera',
 'absolom',
 'ac',
 'acheche',
 'acheson',
 'acker',
 'ackerman',
 'ackland',
 'ackles',
 'ackman',
 'acovone',
 'acres',
 'action',
 'ad',
 'adam',
 'adamaly',
 'adamek',
 'adames',
 'adams',
 'adamson',
 'adan',
 'adar',
 'addison',
 'addobbati',
 'addy',
 'adelaide',
 'adele',
 'adelman',
 'adelstein',
 'adepero',
 'adewale',
 'adi',
 'adil',
 'adilah',
 'adjani',
 'adkins',
 'adler',
 'adlon',
 'adolf',
 'adolfo',
 'adolph',
 'adomian',
 'adoti',
 'adrian',
 'adriana',
 'adrianne',
 'adriano',
 'adrien',
 'adrienne',
 'adriãƒâ',
 'adsit',
 'advento',
 'adventure',
 'aeryk',
 'affleck',
 'afran',
 'agale',
 'agar',
 'agata',
 'agbaje',
 'agee',
 'aggeliki',
 'aghdashloo',
 'agnes',
 'agnieszka',
 'agostino',
 'agosto',
 'agron',
 'aguilar',
 'aguilera',
 'aguirre',
 'agustãƒâ',
 'agutter',
 'aherne',
 'ahlroth',
 'ahlson',
 'ahlstrãƒâ',
 'ahmad',
 'ahmed',
 'ahmir',
 'ahn',
 'ahna',
 'ahney',
 'aho',
 'ahr',
 'ai',
 'aidan',
 'aiden',
 'aiello',
 'aiken',
 'aileen',
 'aimee',
 'ainley',
 'ainsworth',
 'airaudo',
 'airlie',
 'aisha',
 'aishwarya',
 'aitana',
 'aitken',
 'aitkens',
 'aj',
 'ajay',
 'ajaye',
 'ajith',
 'akdeniz',
 'akersten',
 'aki',
 'akihiro',
 'akiji',
 'akiko',
 'akingbola',
 'akinnuoye',
 'akins',
 'akira',
 'akon',
 'akosua',
 'akre',
 'aksel',
 'akshay',
 'al',
 'alain',
 'alaistair',
 'alakina',
 'alan',
 'alana',
 'alastair',
 'alazraqui',
 'alba',
 'albee',
 'albert',
 'alberta',
 'alberto',
 'albertson',
 'albrecht',
 'albright',
 'albrizzi',
 'alda',
 'aldean',
 'alden',
 'alderton',
 'aldis',
 'aldo',
 'aldredge',
 'aldrin',
 'alec',
 'aleifer',
 'aleisha',
 'alejandra',
 'alejandro',
 'alejo',
 'aleks',
 'aleksa',
 'aleksey',
 'aleong',
 'ales',
 'alesandra',
 'alessandra',
 'alessandro',
 'alessi',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandre',
 'alexi',
 'alexia',
 'alexie',
 'alexio',
 'alexis',
 'alexz',
 'alf',
 'alfie',
 'alfonso',
 'alfre',
 'alfred',
 'algar',
 'ali',
 'alia',
 'alianak',
 'alice',
 'alicia',
 'alicja',
 'alida',
 'aline',
 'alinne',
 'alisa',
 'alisha',
 'alison',
 'alistair',
 'alix',
 'alladin',
 'allam',
 'allan',
 'alldridge',
 'allen',
 'allentuck',
 'alley',
 'allie',
 'allison',
 'allix',
 'allman',
 'allred',
 'allwine',
 'ally',
 'allyce',
 'almeida',
 'almos',
 'alois',
 'alona',
 'alonna',
 'alonso',
 'alpert',
 'alpiger',
 'alston',
 'altieri',
 'altman',
 'alton',
 'alun',
 'alva',
 'alvarado',
 'alvarez',
 'alver',
 'alves',
 'alvin',
 'alvy',
 'aly',
 'alyce',
 'alycia',
 'alyn',
 'alysa',
 'alysia',
 'alyson',
 'alyssa',
 'alyvia',
 'alyy',
 'am',
 'ama',
 'amalric',
 'aman',
 'amancaya',
 'amanda',
 'amandes',
 'amara',
 'amarante',
 'amario',
 'amaury',
 'amaya',
 'amber',
 'amberley',
 'ambrose',
 'ambyr',
 'ameche',
 'amedori',
 'ameen',
 'amelia',
 'amell',
 'amendola',
 'amer',
 'america',
 'ami',
 'amick',
 'amidou',
 'amila',
 'amin',
 'amir',
 'amis',
 'amit',
 'aml',
 'among',
 'amos',
 'amplas',
 'amr',
 'amrish',
 'amurri',
 'amy',
 'amzie',
 'an',
 'ana',
 'analeigh',
 'anamaria',
 'anand',
 'anapau',
 'anatoli',
 'anaya',
 'anca',
 'and',
 'andar',
 'anden',
 'anders',
 'andersen',
 'anderson',
 'andersson',
 'andi',
 'andie',
 'andrade',
 'andray',
 'andre',
 'andrea',
 'andreas',
 'andree',
 'andrei',
 'andreozzi',
 'andresen',
 'andress',
 'andreu',
 'andrew',
 'andrews',
 'andros',
 'andrzejewski',
 'andrãƒâ',
 'andy',
 'anessa',
 'aneurin',
 'ang',
 'angarano',
 'angel',
 'angela',
 'angelica',
 'angelina',
 'angeline',
 'angelini',
 'angelis',
 'angell',
 'angelo',
 'angharad',
 'angie',
 'anglade',
 'angourie',
 'angus',
 'angãƒâ',
 'anh',
 'anholt',
 'anika',
 'anil',
 'animation',
 'aniston',
 'anita',
 'anitra',
 'anja',
 'anjali',
 'anjelica',
 'anji',
 'anka',
 'ann',
 'anna',
 'annabella',
 'annabelle',
 'annabeth',
 'annable',
 'annalee',
 'annalynne',
 'annasophia',
 'anne',
 'annen',
 'annette',
 'annie',
 'annika',
 'annis',
 'annmarie',
 'anny',
 'anouska',
 'anozie',
 'ansara',
 'ansari',
 'ansel',
 'anselmo',
 'anson',
 'anspach',
 'anthony',
 'antje',
 'antoine',
 'antoinette',
 'anton',
 'antoni',
 'antonia',
 'antonio',
 'antony',
 'anupam',
 'anwar',
 'anya',
 'anzac',
 'aoki',
 'apatow',
 'apfel',
 'apollonia',
 'apostolina',
 'apostolopoulos',
 'appell',
 'appleby',
 'applegate',
 'appleman',
 'april',
 'aquino',
 'ar',
 'aragãƒâ³n',
 'arahanga',
 'arakawa',
 'aran',
 'arana',
 'aranda',
 'arbanville',
 'archard',
 'archer',
 'archibald',
 'archie',
 'arcy',
 'arden',
 'aren',
 'arenas',
 'arend',
 'arender',
 'arends',
 'aretha',
 'argento',
 'argenziano',
 'argo',
 'argue',
 'ari',
 'aria',
 'ariadna',
 'ariana',
 'arianda',
 'ariane',
 'arias',
 'arie',
 'ariel',
 'arielle',
 'arija',
 'arin',
 'aris',
 'arisara',
 'arjun',
 'arkadiusz',
 'arkie',
 'arkin',
 'arkins',
 'arletty',
 'arlovski',
 'armand',
 'armando',
 'armas',
 'armie',
 'armin',
 'armisen',
 'armitage',
 'armstrong',
 'arnaud',
 'arndt',
 'arnett',
 'arnezeder',
 'arnie',
 'arno',
 'arnold',
 'aron',
 'aronov',
 'arora',
 'arquette',
 'arrighi',
 'arrika',
 'arsan',
 'arsenio',
 'arshad',
 'arsinãƒâ',
 'art',
 'arte',
 'artel',
 'arterton',
 'arthur',
 'arthus',
 'artie',
 'arturo',
 'arun',
 'arye',
 'arãƒâ',
 'as',
 'asa',
 'asami',
 'asano',
 'aseem',
 'asefa',
 'aselton',
 'ash',
 'ashan',
 'ashanti',
 'ashbaugh',
 'ashbrook',
 'ashby',
 'ashcroft',
 'ashdown',
 'asher',
 'ashfield',
 'ashkenazi',
 'ashleigh',
 'ashley',
 'ashlyn',
 'ashlynn',
 'ashmore',
 'ashraf',
 'ashton',
 'ashy',
 'asia',
 'asier',
 'askew',
 'asner',
 'aspinall',
 'asquith',
 'assante',
 'assaraf',
 'assumpta',
 'astaire',
 'astin',
 'astro',
 'asumi',
 'atack',
 'atal',
 'atherton',
 'athol',
 'atias',
 'atkin',
 'atkins',
 'atkinson',
 'ato',
 'atossa',
 'atsma',
 'attah',
 'attal',
 'attenborough',
 'atterbury',
 'atticus',
 'atwell',
 'au',
 'auberjonois',
 'aubert',
 'aubree',
 'aubrey',
 'audie',
 'audley',
 'audra',
 'audrey',
 'audrina',
 'aufderheide',
 'auffarth',
 'auger',
 'august',
 'augustine',
 'augustus',
 'aulaqi',
 'aumont',
 'aunjanue',
 'aurora',
 'aurore',
 'aurãƒâ',
 'austen',
 'austin',
 'ausubel',
 'autumn',
 'ava',
 'avalon',
 'avan',
 'avari',
 'avery',
 'avgeropoulos',
 'aviles',
 'avner',
 'awie',
 'axel',
 'axelrod',
 'axton',
 'aya',
 'ayaan',
 'ayala',
 'aycox',
 'ayelet',
 'ayesha',
 'aykroyd',
 'aylesworth',
 'ayoade',
 'ayres',
 'ayrton',
 'ayush',
 'az',
 'azabal',
 'azami',
 'azaria',
 'aziz',
 'azlynn',
 'azmi',
 'aznil',
 'azura',
 'azzara',
 'babatundãƒâ',
 'babcock',
 'babou',
 'baby',
 'babãƒâº',
 'bacall',
 'baccarin',
 'bach',
 'bachar',
 'bachchan',
 'bachleda',
 'bachman',
 'bachrach',
 'bacic',
 'backer',
 'backus',
 'bacon',
 'badaan',
 'baddeley',
 'badel',
 'bader',
 'badge',
 'badgley',
 'badreya',
 'badãƒâ',
 'baer',
 'baerg',
 'baesel',
 'baez',
 'baffier',
 'bagby',
 'bagh',
 'bagley',
 'baglio',
 'bahar',
 'bahr',
 'bai',
 'bailee',
 'bailey',
 'bailon',
 'baily',
 'baines',
 'bainter',
 'baio',
 'baird',
 'bairley',
 'bairstow',
 'bakaitis',
 'baker',
 'bakke',
 'bakken',
 'bakolia',
 'bakshi',
 'bakula',
 'balaban',
 'balan',
 'balaski',
 'balawi',
 'balcomb',
 'baldoni',
 'baldry',
 'baldwin',
 'bale',
 'balfour',
 'balin',
 'balk',
 'ball',
 'ballard',
 'ballerini',
 'ballesteros',
 'ballo',
 'balme',
 'balsam',
 'balsamo',
 'balson',
 'balthazar',
 'bam',
 'bamber',
 'bana',
 'bancroft',
 'banderas',
 'bane',
 'banerjee',
 'banes',
 'bang',
 'banham',
 'bankolãƒâ',
 'banks',
 'banksy',
 'bannen',
 'banner',
 'bannister',
 'banzie',
 'baoqiang',
 'baptiste',
 'barack',
 'barak',
 'baranski',
 'barash',
 'barbara',
 'barbeau',
 'barbee',
 'barber',
 'barbi',
 'barbra',
 'barclay',
 'bard',
 'bardem',
 'barden',
 'bardsley',
 'bareikis',
 'bargen',
 'barhom',
 'barilla',
 'baring',
 'barinholtz',
 'barker',
 'barkhad',
 'barkin',
 'barkley',
 'barlow',
 'barman',
 'barnaby',
 'barnard',
 'barnes',
 'barnett',
 'barnfield',
 'baron',
 'barona',
 'baroo',
 'barr',
 'barra',
 'barrass',
 'barratt',
 'barrault',
 'barraza',
 'barrera',
 'barres',
 'barrese',
 'barret',
 'barrett',
 'barretta',
 'barrie',
 'barrile',
 'barron',
 'barry',
 'barrymore',
 'barsi',
 'bart',
 'barth',
 'bartha',
 'bartholomew',
 'bartlett',
 'bartok',
 'bartold',
 'barton',
 'bartram',
 'bartusiak',
 'barty',
 'bartã',
 'baruchel',
 'basaraba',
 'basco',
 'basehart',
 'bashy',
 'basil',
 'basinger',
 'basis',
 'baskin',
 'bass',
 'bassett',
 'bassman',
 'basso',
 'bassols',
 'bastoni',
 'bastow',
 'basu',
 'batchelor',
 'bateman',
 'bates',
 'bath',
 'bathurst',
 'batinkoff',
 'batson',
 'battle',
 'battley',
 'bauchau',
 'bauer',
 'baume',
 'baumel',
 'bausch',
 'bautista',
 'baxendale',
 'baxley',
 'bay',
 'baya',
 'bayar',
 'bayer',
 'bayley',
 'bazeley',
 'baãƒâ',
 'bd',
 'be',
 'bea',
 'beach',
 'beahan',
 'beals',
 'bean',
 'beans',
 'beard',
 'bearse',
 'beasley',
 'beatie',
 'beatrice',
 'beattie',
 'beatty',
 'beaty',
 'beau',
 'beauchamp',
 'beaudin',
 'beaulieu',
 'beaumon',
 'beauvais',
 'beaver',
 'bebe',
 'becca',
 'beck',
 'beckel',
 'beckenbaugh',
 'becker',
 'beckinsale',
 'beckley',
 'beckman',
 'becky',
 'bedard',
 'bedelia',
 'bedford',
 'bedi',
 'bednarczyk',
 'bednob',
 'bee',
 'beehner',
 'beek',
 'beery',
 'begg',
 'beghe',
 'begin',
 'begley',
 'begonya',
 'beharie',
 'behets',
 'behling',
 'behnken',
 'behr',
 'behrens',
 'behrs',
 'beiring',
 'bejo',
 'bel',
 'belafonte',
 'belardi',
 'belcher',
 'belinda',
 'belkin',
 'bell',
 'bella',
 'bellamy',
 'belland',
 'bellar',
 'bellaver',
 'belle',
 'beller',
 'belleville',
 'bellinghaus',
 'bello',
 'bellows',
 'bellucci',
 'belmont',
 'belson',
 'beltran',
 'belur',
 'belushi',
 'ben',
 'benben',
 'bendjelloul',
 'benedict',
 'benet',
 'bengt',
 'benicio',
 'benigni',
 'bening',
 'benito',
 'benjamin',
 'benjaminson',
 'benji',
 'bennent',
 'bennett',
 'benno',
 'benny',
 'benoist',
 'benoit',
 'benrubi',
 'benson',
 'bent',
 'bentley',
 'benton',
 'benyaer',
 'benyus',
 'benz',
 'benzali',
 'berdahl',
 'berdal',
 'bereen',
 'berenger',
 'berenson',
 'berg',
 'bergen',
 'berger',
 'bergere',
 'bergin',
 'bergl',
 'bergman',
 'bergryd',
 'berkel',
 'berkeley',
 'berkley',
 'berkoff',
 'berkowitz',
 'berle',
 'berlinger',
 'berlãƒâ',
 'berman',
 'bern',
 'bernadette',
 'bernal',
 'bernard',
 'berners',
 'bernet',
 'bernhard',
 'bernhardt',
 'bernie',
 'bernsen',
 'bernstein',
 'bernthal',
 'beroev',
 'berrent',
 'berridge',
 'berry',
 'bertrand',
 'bertuccelli',
 'bervoets',
 'beryl',
 'besch',
 'beseler',
 'besen',
 'bess',
 'best',
 'beswick',
 'betancourt',
 'beth',
 'bethea',
 'bethune',
 'beto',
 'betsy',
 'bett',
 'bettany',
 'bette',
 'bettin',
 'bettina',
 'bettis',
 'bettoia',
 'betty',
 ...]

In [238]:
count_vectorizer_matrix.toarray()[1]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [239]:
#Ici on créee la matrice qui calcule les similitudes entres les films

similarity_mat=cosine_similarity(count_vectorizer_matrix)

In [240]:
similarity_mat

array([[1.        , 0.3125    , 0.26726124, ..., 0.13363062, 0.07216878,
        0.        ],
       [0.3125    , 1.        , 0.26726124, ..., 0.13363062, 0.07216878,
        0.07537784],
       [0.26726124, 0.26726124, 1.        , ..., 0.14285714, 0.        ,
        0.        ],
       ...,
       [0.13363062, 0.13363062, 0.14285714, ..., 1.        , 0.07715167,
        0.        ],
       [0.07216878, 0.07216878, 0.        , ..., 0.07715167, 1.        ,
        0.08703883],
       [0.        , 0.07537784, 0.        , ..., 0.        , 0.08703883,
        1.        ]])

In [241]:
cv = CountVectorizer()
count_vectorizer_matrix2 = cv.fit_transform(movies_data["combined2"])
count_vectorizer_matrix2

<7096x27384 sparse matrix of type '<class 'numpy.int64'>'
	with 360003 stored elements in Compressed Sparse Row format>

In [242]:
cv.get_feature_names()

['00',
 '000',
 '000th',
 '000ã',
 '007',
 '00ã',
 '01',
 '05',
 '05pm',
 '06',
 '08',
 '09',
 '10',
 '100',
 '1000',
 '1001',
 '100th',
 '101',
 '102',
 '103',
 '108',
 '10th',
 '11',
 '1138',
 '114',
 '117',
 '1183',
 '119',
 '11th',
 '12',
 '120',
 '1200',
 '1215',
 '125',
 '1250',
 '125th',
 '127',
 '12th',
 '13',
 '130',
 '1300',
 '1350',
 '135th',
 '13th',
 '13ã',
 '14',
 '140',
 '1408',
 '141',
 '142',
 '1423',
 '1475',
 '148',
 '1492',
 '14pm',
 '14th',
 '15',
 '150',
 '150000',
 '150th',
 '1536',
 '1564',
 '15th',
 '16',
 '1600s',
 '161',
 '1610',
 '163',
 '1630s',
 '165',
 '1671',
 '168',
 '1692',
 '16mm',
 '16th',
 '17',
 '170',
 '1700s',
 '1787',
 '17th',
 '18',
 '1800',
 '1800s',
 '1812',
 '1816',
 '1818',
 '1820',
 '1820s',
 '1825',
 '183',
 '1830s',
 '1836',
 '1839',
 '1845',
 '1850',
 '1857',
 '1863',
 '1868',
 '1873',
 '1875',
 '1879',
 '188',
 '1880',
 '1880s',
 '1885',
 '1889',
 '1890',
 '1890s',
 '1892',
 '1893',
 '1897',
 '1898',
 '18th',
 '19',
 '1900',
 '1900s',
 '1902',
 '1904',
 '191',
 '1910',
 '1910s',
 '1912',
 '1913',
 '1914',
 '1916',
 '1917',
 '1918',
 '1919',
 '192',
 '1920',
 '1920s',
 '1920ã',
 '1921',
 '1922',
 '1923',
 '1924',
 '1926',
 '1927',
 '1929',
 '1930',
 '1930s',
 '1930ã',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1961',
 '1962',
 '1963',
 '1963ã',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1970ã',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1980ã',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '1st',
 '1ã',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2015',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2024',
 '2025',
 '2027',
 '2028',
 '2032',
 '2033',
 '2035',
 '2038',
 '2042',
 '2047',
 '2058',
 '2074',
 '2078',
 '2081',
 '2087',
 '20s',
 '20th',
 '21',
 '212th',
 '2159',
 '21st',
 '22',
 '220',
 '2247',
 '2257',
 '22nd',
 '23',
 '23rd',
 '24',
 '240',
 '2455',
 '2470',
 '247ã',
 '24th',
 '25',
 '250',
 '2505',
 '2509',
 '250cc',
 '25th',
 '26',
 '27',
 '2707',
 '28',
 '280',
 '28th',
 '29',
 '29th',
 '2nd',
 '2ã',
 '30',
 '300',
 '3000',
 '308th',
 '30s',
 '30th',
 '31',
 '32',
 '33',
 '34',
 '35',
 '350',
 '36',
 '360',
 '37',
 '375lbs',
 '38',
 '39',
 '391',
 '3d',
 '3pm',
 '3po',
 '3rd',
 '3ã',
 '40',
 '400',
 '4000',
 '40s',
 '410',
 '42',
 '43',
 '436',
 '45',
 '46',
 '47',
 '47th',
 '48',
 '49',
 '4kids',
 '4th',
 '50',
 '500',
 '5000',
 '50s',
 '51',
 '51st',
 '53',
 '533',
 '54',
 '55',
 '563',
 '59',
 '5th',
 '60',
 '600',
 '6000',
 '60s',
 '60ã',
 '62',
 '63',
 '64',
 '643',
 '65',
 '65k',
 '66',
 '666',
 '66th',
 '68',
 '69',
 '6b',
 '6th',
 '70',
 '700',
 '707',
 '70s',
 '72',
 '73',
 '747',
 '74th',
 '750',
 '7500',
 '75th',
 '76',
 '77th',
 '78',
 '79',
 '7ft',
 '7th',
 '80',
 '800',
 '80s',
 '80sunderground',
 '81',
 '83',
 '84',
 '85',
 '857',
 '85th',
 '86',
 '88',
 '89',
 '8km',
 '8th',
 '90',
 '9000',
 '900lb',
 '90210',
 '90s',
 '91',
 '911',
 '922',
 '93',
 '937',
 '95',
 '95er',
 '96',
 '97',
 '98',
 '98lbs',
 '99',
 'aa',
 'aaaah',
 'aaargh',
 'aadland',
 'aames',
 'aang',
 'aaron',
 'aarons',
 'aba',
 'aback',
 'abagnale',
 'abandon',
 'abandoned',
 'abandoning',
 'abandonment',
 'abandons',
 'abba',
 'abbass',
 'abberline',
 'abbey',
 'abbie',
 'abbot',
 'abbott',
 'abby',
 'abc',
 'abcs',
 'abdicates',
 'abduct',
 'abducted',
 'abduction',
 'abductions',
 'abductor',
 'abductors',
 'abducts',
 'abe',
 'abel',
 'abernathy',
 'abhors',
 'abide',
 'abiding',
 'abigail',
 'abilities',
 'ability',
 'able',
 'ableman',
 'abler',
 'ably',
 'abo',
 'aboard',
 'abobo',
 'abode',
 'abolitionist',
 'abominable',
 'abomination',
 'aboriginal',
 'aborigine',
 'aborigines',
 'abort',
 'abortion',
 'abortionist',
 'abound',
 'about',
 'above',
 'abra',
 'abracatastic',
 'abraham',
 'abrahams',
 'abrasive',
 'abroad',
 'abrupt',
 'abruptly',
 'abscond',
 'absence',
 'absences',
 'absent',
 'absentia',
 'absolom',
 'absolute',
 'absolutely',
 'absolution',
 'absorbed',
 'absorbent',
 'absorbing',
 'absorbs',
 'absorption',
 'abstraction',
 'absurd',
 'abu',
 'abuse',
 'abused',
 'abuses',
 'abusing',
 'abusive',
 'abyss',
 'aca',
 'academia',
 'academic',
 'academies',
 'academy',
 'acapulco',
 'accelerate',
 'accent',
 'accented',
 'accentuate',
 'accept',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'accepts',
 'access',
 'accessible',
 'accessories',
 'accessory',
 'accident',
 'accidental',
 'accidentally',
 'accidentaly',
 'accidently',
 'accidents',
 'acclaim',
 'acclaimed',
 'acclimated',
 'accolades',
 'accommodating',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompany',
 'accompanying',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accomplishes',
 'accomplishing',
 'accordance',
 'accordian',
 'according',
 'accordion',
 'account',
 'accountancy',
 'accountant',
 'accounted',
 'accounting',
 'accounts',
 'accumulated',
 'accumulation',
 'accuracy',
 'accurate',
 'accursed',
 'accusal',
 'accusations',
 'accuse',
 'accused',
 'accuser',
 'accuses',
 'accustomed',
 'ace',
 'acerbic',
 'aces',
 'acessorizes',
 'achard',
 'achieve',
 'achieved',
 'achievement',
 'achievements',
 'achieves',
 'achieving',
 'achievments',
 'achilles',
 'aching',
 'acid',
 'acker',
 'acknowledging',
 'acme',
 'acquaintance',
 'acquaintances',
 'acquiesce',
 'acquire',
 'acquired',
 'acquires',
 'acquiring',
 'acquisition',
 'acquitted',
 'acre',
 'acres',
 'acronym',
 'across',
 'act',
 'acting',
 'action',
 'actions',
 'activate',
 'activates',
 'active',
 'actively',
 'activism',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'actresses',
 'acts',
 'actual',
 'actually',
 'acute',
 'ad',
 'ada',
 'adagio',
 'adair',
 'adaline',
 'adam',
 'adams',
 'adamson',
 'adapation',
 'adapt',
 'adaptation',
 'adapted',
 'adapting',
 'adaption',
 'adapts',
 'add',
 'addams',
 'added',
 'adderall',
 'addict',
 'addicted',
 'addiction',
 'addictions',
 'addictive',
 'addicts',
 'adding',
 'addition',
 'additional',
 'additives',
 'addled',
 'address',
 'addressed',
 'addresses',
 'adds',
 'ade',
 'adela',
 'adelaide',
 'adele',
 'adept',
 'adeptly',
 'adherence',
 'adhering',
 'adjewa',
 'adjourns',
 'adjust',
 'adjusted',
 'adjuster',
 'adjusting',
 'adjustment',
 'adkins',
 'adleman',
 'adler',
 'adm',
 'administered',
 'administering',
 'administers',
 'administration',
 'administrator',
 'admiral',
 'admiration',
 'admired',
 'admirer',
 'admirers',
 'admires',
 'admiring',
 'admission',
 'admissions',
 'admist',
 'admit',
 'admits',
 'admittance',
 'admitted',
 'admonition',
 'adolescence',
 'adolescent',
 'adolescents',
 'adolf',
 'adolfo',
 'adolph',
 'adonis',
 'adopt',
 'adopted',
 'adopting',
 'adoption',
 'adoptive',
 'adopts',
 'adorable',
 'adorably',
 'adoration',
 'adored',
 'adores',
 'adorn',
 'adrea',
 'adrenaline',
 'adrenalized',
 'adrian',
 'adriana',
 'adrienne',
 'adrift',
 'adult',
 'adulterated',
 'adulterous',
 'adultery',
 'adulthood',
 'adults',
 'advance',
 'advanced',
 'advancement',
 'advances',
 'advancing',
 'advantage',
 'adventure',
 'adventurer',
 'adventurers',
 'adventures',
 'adventuresome',
 'adventuress',
 'adventurous',
 'adversaries',
 'adversary',
 'adversaryã',
 'adverse',
 'adversities',
 'adversity',
 'advertise',
 'advertised',
 'advertisement',
 'advertisements',
 'advertising',
 'advice',
 'advise',
 'advised',
 'adviser',
 'advisers',
 'advises',
 'advising',
 'advisor',
 'advisors',
 'advisory',
 'advocate',
 'advocated',
 'advocating',
 'adãƒâ',
 'aef',
 'aegis',
 'aerial',
 'aerialist',
 'aerobic',
 'aerobics',
 'aeronautics',
 'aerosmith',
 'aeryn',
 'aesthetic',
 'aetius',
 'afar',
 'affable',
 'affair',
 'affairs',
 'affect',
 'affected',
 'affecting',
 'affection',
 'affectionate',
 'affectionately',
 'affections',
 'affects',
 'affiliate',
 'affirm',
 'affirmative',
 'affirming',
 'afflict',
 'afflicted',
 'afflicting',
 'affliction',
 'afflicts',
 'affluence',
 'affluent',
 'afford',
 'affords',
 'afghan',
 'afghanistan',
 'aflame',
 'afloat',
 'afoot',
 'afoul',
 'afraid',
 'africa',
 'african',
 'africans',
 'afro',
 'afroã',
 'afshin',
 'after',
 'aftercreditsstinger',
 'aftereffects',
 'afterglow',
 'afterlife',
 'aftermath',
 'afternoon',
 'afterward',
 'again',
 'against',
 'againã',
 'agamemnom',
 'agamemnon',
 'agatha',
 'age',
 'aged',
 'agee',
 'ageing',
 'ageless',
 'agencies',
 'agency',
 'agenda',
 'agent',
 'agents',
 'ages',
 'aggie',
 'aggravate',
 'aggravation',
 'aggression',
 'aggressive',
 'aggressively',
 'aggressiveness',
 'aggressors',
 'agile',
 'agility',
 'aging',
 'agitated',
 'aglet',
 'agnes',
 'ago',
 'agon',
 'agonising',
 'agonizes',
 'agonizing',
 'agony',
 'agoraphobia',
 'agoraphobic',
 'agree',
 'agreeable',
 'agreed',
 'agreement',
 'agrees',
 'agri',
 'agricultural',
 'agriculture',
 'aground',
 'agu',
 'ahab',
 'ahead',
 'ahhh',
 'ahkmenrah',
 'ahmad',
 'ahmat',
 'ahmed',
 'ahã',
 'ai',
 'aibelli',
 'aid',
 'aidan',
 'aide',
 'aided',
 'aiden',
 'aides',
 'aiding',
 'aids',
 'aikido',
 'aileen',
 'ailing',
 'ailments',
 'aim',
 'aimed',
 'aiming',
 'aimless',
 'aims',
 'ain',
 'ainous',
 'air',
 'airbase',
 'airborne',
 'aircraft',
 'aired',
 'aires',
 'airing',
 'airline',
 'airman',
 'airmen',
 'airplane',
 'airplanes',
 'airport',
 'airship',
 'airstrikes',
 'aisha',
 'aisle',
 'aisles',
 'aiã',
 'ajla',
 'aka',
 'akan',
 'akasha',
 'akbar',
 'akeelah',
 'akeem',
 'aker',
 'aki',
 'akiro',
 'akivasha',
 'akron',
 'akutagawa',
 'al',
 'ala',
 'alabama',
 'aladdin',
 'alagaesia',
 'alameda',
 'alamein',
 'alamo',
 'alan',
 'alana',
 'alarm',
 'alarmed',
 'alarming',
 'alaska',
 'alaskan',
 'alba',
 'albanian',
 'albanians',
 'albany',
 'albatros',
 'albee',
 'albeit',
 'albert',
 'albinos',
 'albright',
 'album',
 'albuquerque',
 'alcatraz',
 'alchemist',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alcs',
 'ald',
 'aldo',
 'aldous',
 'alec',
 'aleck',
 'alejandro',
 'alert',
 'alerted',
 'alerts',
 'ales',
 'alesia',
 'alex',
 'alexa',
 'alexander',
 'alexandra',
 'alexandria',
 'alexia',
 'alexie',
 'alexio',
 'alexis',
 'alfalfa',
 'alferd',
 'alfie',
 'alfonso',
 'alfred',
 'algebra',
 'algerian',
 'algonquin',
 'algren',
 'ali',
 'alias',
 'aliases',
 ...]

In [243]:
count_vectorizer_matrix.toarray()[1]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [244]:
#Ici on créee la matrice qui calcule les similitudes entres les films

similarity_mat2=cosine_similarity(count_vectorizer_matrix2)

In [245]:
similarity_mat2

array([[1.        , 0.23504641, 0.        , ..., 0.0725954 , 0.10323002,
        0.1165631 ],
       [0.23504641, 1.        , 0.17450252, ..., 0.22641671, 0.33484105,
        0.27144836],
       [0.        , 0.17450252, 1.        , ..., 0.09731237, 0.04428074,
        0.075     ],
       ...,
       [0.0725954 , 0.22641671, 0.09731237, ..., 1.        , 0.08618128,
        0.15569979],
       [0.10323002, 0.33484105, 0.04428074, ..., 0.08618128, 1.        ,
        0.22140372],
       [0.1165631 , 0.27144836, 0.075     , ..., 0.15569979, 0.22140372,
        1.        ]])

In [19]:
#datacamp

from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate the vectorizer object and transform the plot column
vectorizer = TfidfVectorizer(max_df=0.7, min_df=10)
vectorized_data = vectorizer.fit_transform(movies_data['combined']) 

# Create Dataframe from TF-IDFarray
tfidf_df = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names())

# Assign the movie titles to the index and inspect
tfidf_df.index = movies_data['title']
print(tfidf_df.head())

                              aaron  abbie  abigail    action      adam  \
title
jurassic world                  0.0    0.0      0.0  0.120585  0.000000
mad max: fury road              0.0    0.0      0.0  0.135728  0.000000
insurgent                       0.0    0.0      0.0  0.000000  0.000000
star wars: the force awakens    0.0    0.0      0.0  0.130763  0.269148
furious 7                       0.0    0.0      0.0  0.123196  0.000000

                              adams  adkins  adrian  adrien  adrienne  ...  \
title                                                                  ...
jurassic world                  0.0     0.0     0.0     0.0       0.0  ...
mad max: fury road              0.0     0.0     0.0     0.0       0.0  ...
insurgent                       0.0     0.0     0.0     0.0       0.0  ...
star wars: the force awakens    0.0     0.0     0.0     0.0       0.0  ...
furious 7                       0.0     0.0     0.0     0.0       0.0  ...

                              yvonne  zach  zachary  zahn  zellweger  zeta  \
title
jurassic world                   0.0   0.0      0.0   0.0        0.0   0.0
mad max: fury road               0.0   0.0      0.0   0.0        0.0   0.0
insurgent                        0.0   0.0      0.0   0.0        0.0   0.0
star wars: the force awakens     0.0   0.0      0.0   0.0        0.0   0.0
furious 7                        0.0   0.0      0.0   0.0        0.0   0.0

                              zoe  zooey  zoãƒâ  ãƒâ
title
jurassic world                0.0    0.0    0.0  0.0
mad max: fury road            0.0    0.0    0.0  0.0
insurgent                     0.0    0.0    0.0  0.0
star wars: the force awakens  0.0    0.0    0.0  0.0
furious 7                     0.0    0.0    0.0  0.0

[5 rows x 1605 columns]

In [17]:
#datacamp

# Import cosine_similarity measure
from sklearn.metrics.pairwise import cosine_similarity

# Create the array of cosine similarity values
cosine_similarity_array = cosine_similarity(tfidf_df)

# Wrap the array in a pandas DataFrame
cosine_similarity_df = pd.DataFrame(cosine_similarity_array, index=tfidf_df.index, columns=tfidf_df.index)

# Print the top 5 rows of the DataFrame
print(cosine_similarity_df.head())

title                         jurassic world  mad max: fury road  insurgent  \
title
jurassic world                      1.000000            0.555012   0.510761
mad max: fury road                  0.555012            1.000000   0.430041
insurgent                           0.510761            0.430041   1.000000
star wars: the force awakens        0.456416            0.384284   0.344227
furious 7                           0.156741            0.131970   0.065393

title                         star wars: the force awakens  furious 7  \
title
jurassic world                                    0.456416   0.156741
mad max: fury road                                0.384284   0.131970
insurgent                                         0.344227   0.065393
star wars: the force awakens                      1.000000   0.067733
furious 7                                         0.067733   1.000000

title                         the revenant  the martian   minions  inside out  \
title
jurassic world                    0.170824     0.330362  0.110905         0.0
mad max: fury road                0.335113     0.278152  0.093378         0.0
insurgent                         0.156295     0.302264  0.101472         0.0
star wars: the force awakens      0.085655     0.262425  0.088098         0.0
furious 7                         0.245419     0.000000  0.000000         0.0

title                          spectre  ...  alfie  the chase  \
title                                   ...
jurassic world                0.270829  ...    0.0   0.114654
mad max: fury road            0.228027  ...    0.0   0.096535
insurgent                     0.146021  ...    0.0   0.104903
star wars: the force awakens  0.215134  ...    0.0   0.000000
furious 7                     0.232556  ...    0.0   0.267285

title                         the ghost & mr. chicken  the ugly dachshund  \
title
jurassic world                                    0.0                 0.0
mad max: fury road                                0.0                 0.0
insurgent                                         0.0                 0.0
star wars: the force awakens                      0.0                 0.0
furious 7                                         0.0                 0.0

title                         nevada smith  \
title
jurassic world                    0.086402
mad max: fury road                0.072747
insurgent                         0.000000
star wars: the force awakens      0.068634
furious 7                         0.072981

title                         the russians are coming, the russians are coming  \
title
jurassic world                                                         0.00000
mad max: fury road                                                     0.00000
insurgent                                                              0.00000
star wars: the force awakens                                           0.00000
furious 7                                                              0.19797

title                         carry on screaming!  grand prix  \
title
jurassic world                                0.0    0.244776
mad max: fury road                            0.0    0.206092
insurgent                                     0.0    0.347782
star wars: the force awakens                  0.0    0.194439
furious 7                                     0.0    0.084917

title                         what's up, tiger lily?  manos: the hands of fate
title
jurassic world                              0.167908                    0.0000
mad max: fury road                          0.141372                    0.3229
insurgent                                   0.000000                    0.0000
star wars: the force awakens                0.133378                    0.0000
furious 7                                   0.141826                    0.0000

[5 rows x 7096 columns]

In [18]:
#datacamp

from sklearn.feature_extraction.text import TfidfVectorizer

# Instantiate the vectorizer object and transform the plot column
vectorizer = TfidfVectorizer(max_df=0.7, min_df=100)
vectorized_data = vectorizer.fit_transform(movies_data['combined2']) 

# Create Dataframe from TF-IDFarray
tfidf_df2 = pd.DataFrame(vectorized_data.toarray(), columns=vectorizer.get_feature_names())

# Assign the movie titles to the index and inspect
tfidf_df2.index = movies_data['title']
print(tfidf_df2.head())

                              about  accident   across    action  adventure  \
title
jurassic world                  0.0       0.0  0.00000  0.000000        0.0
mad max: fury road              0.0       0.0  0.16809  0.317333        0.0
insurgent                       0.0       0.0  0.00000  0.000000        0.0
star wars: the force awakens    0.0       0.0  0.00000  0.000000        0.0
furious 7                       0.0       0.0  0.00000  0.000000        0.0

                                 after  again   against  age  agent  ...  \
title                                                                ...
jurassic world                0.225547    0.0  0.000000  0.0    0.0  ...
mad max: fury road            0.000000    0.0  0.000000  0.0    0.0  ...
insurgent                     0.000000    0.0  0.242505  0.0    0.0  ...
star wars: the force awakens  0.220037    0.0  0.000000  0.0    0.0  ...
furious 7                     0.000000    0.0  0.237152  0.0    0.0  ...

                              would  writer  wrong  year     years  yet  york  \
title
jurassic world                  0.0     0.0    0.0   0.0  0.290625  0.0   0.0
mad max: fury road              0.0     0.0    0.0   0.0  0.000000  0.0   0.0
insurgent                       0.0     0.0    0.0   0.0  0.000000  0.0   0.0
star wars: the force awakens    0.0     0.0    0.0   0.0  0.283524  0.0   0.0
furious 7                       0.0     0.0    0.0   0.0  0.000000  0.0   0.0

                                   you  young  your
title
jurassic world                0.000000    0.0   0.0
mad max: fury road            0.000000    0.0   0.0
insurgent                     0.182953    0.0   0.0
star wars: the force awakens  0.000000    0.0   0.0
furious 7                     0.000000    0.0   0.0

[5 rows x 531 columns]

In [286]:
#datacamp

# Import cosine_similarity measure
from sklearn.metrics.pairwise import cosine_similarity

# Create the array of cosine similarity values
cosine_similarity_array = cosine_similarity(tfidf_df2)

# Wrap the array in a pandas DataFrame
cosine_similarity_df2 = pd.DataFrame(cosine_similarity_array, index=tfidf_df2.index, columns=tfidf_df2.index)

# Print the top 5 rows of the DataFrame
print(cosine_similarity_df2.head())

title                         jurassic world  mad max: fury road  insurgent  \
title
jurassic world                      1.000000            0.027980   0.000000
mad max: fury road                  0.027980            1.000000   0.116349
insurgent                           0.000000            0.116349   1.000000
star wars: the force awakens        0.067854            0.030927   0.000000
furious 7                           0.000000            0.060781   0.039393

title                         star wars: the force awakens  furious 7  \
title
jurassic world                                    0.067854   0.000000
mad max: fury road                                0.030927   0.060781
insurgent                                         0.000000   0.039393
star wars: the force awakens                      1.000000   0.049412
furious 7                                         0.049412   1.000000

title                         the revenant  the martian   minions  inside out  \
title
jurassic world                    0.030585     0.034800  0.036408    0.019112
mad max: fury road                0.083298     0.054095  0.054290    0.155374
insurgent                         0.137451     0.092556  0.050637    0.132837
star wars: the force awakens      0.073617     0.081957  0.064296    0.053440
furious 7                         0.145855     0.061071  0.000000    0.005784

title                          spectre  ...     alfie  the chase  \
title                                   ...
jurassic world                0.000000  ...  0.006473   0.020295
mad max: fury road            0.018991  ...  0.152886   0.166855
insurgent                     0.117946  ...  0.000000   0.056412
star wars: the force awakens  0.015471  ...  0.064320   0.038228
furious 7                     0.000000  ...  0.018943   0.016064

title                         the ghost & mr. chicken  the ugly dachshund  \
title
jurassic world                               0.042496            0.021473
mad max: fury road                           0.050069            0.032506
insurgent                                    0.029165            0.013835
star wars: the force awakens                 0.097423            0.019907
furious 7                                    0.064623            0.015262

title                         nevada smith  \
title
jurassic world                    0.023663
mad max: fury road                0.029733
insurgent                         0.014177
star wars: the force awakens      0.039112
furious 7                         0.086093

title                         the russians are coming, the russians are coming  \
title
jurassic world                                                        0.018288
mad max: fury road                                                    0.040993
insurgent                                                             0.000000
star wars: the force awakens                                          0.049929
furious 7                                                             0.010165

title                         carry on screaming!  grand prix  \
title
jurassic world                           0.039421    0.036985
mad max: fury road                       0.047331    0.040369
insurgent                                0.022754    0.021406
star wars: the force awakens             0.063590    0.076482
furious 7                                0.006922    0.224086

title                         what's up, tiger lily?  manos: the hands of fate
title
jurassic world                              0.000000                  0.011482
mad max: fury road                          0.127012                  0.024440
insurgent                                   0.000000                  0.008757
star wars: the force awakens                0.000000                  0.022315
furious 7                                   0.000000                  0.044762

[5 rows x 7096 columns]

In [ ]:
#CREATE A USER PROFILE RECOMMENDATION

In [297]:
tfidf_df2.index.is_unique

False

In [299]:
tfidf_df2.index.duplicated()

array([False, False, False, ..., False, False, False])

In [310]:
tfidf_df2.loc[~tfidf_df2.index.duplicated(), :]
tfidf_df2.loc[:, ~tfidf_df2.columns.duplicated()]

,000,10,12,1970s,about,abuse,accident,accidentally,accused,across,...,year,years,yet,york,you,young,younger,your,youth,zombies
title,,,,,,,,,,,,,,,,,,,,,
jurassic world,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.164246,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
mad max: fury road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.132574,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
insurgent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.139707,0.000000,0.0,0.000000,0.0,0.0
star wars: the force awakens,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.257832,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
furious 7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"the russians are coming, the russians are coming",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
carry on screaming!,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.096138,0.0,0.000000,0.0,0.0
grand prix,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.153220,0.000000,0.0,0.000000,0.0,0.0
"what's up, tiger lily?",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0
manos: the hands of fate,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.189197,0.0,0.0

In [321]:
# Ici on va créer des recommendations basées sur tout ce que l'utilisateur a aimé par le passé. 
#En premier on génère un profile en regorupant tous les films qu'il a aimé par le passé
#ici le challenge va être de lier ça a streamlit pour que l'utilisateur puisse y taper les films
#autre challenge: s'il y a des fautes d'ortographe ou le titre est incomplet... il faudrait donc afficher des suggestions

list_of_movies_enjoyed = ["jurassic world","mad max: fury road", "insurgent"]

tfidf_df2b= tfidf_df2.reset_index()


# Create a subset of only the movies the user has enjoyed
movies_enjoyed_df = tfidf_df2b.reindex(list_of_movies_enjoyed)

# Generate the user profile by finding the average scores of movies they enjoyed
user_prof = tfidf_df2b.mean()

# Inspect the results
print(user_prof)

ValueError: cannot insert title, already exists